@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #a0ff55;
}

.main {
  font-size: 70px;
  color: #00b400;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  button {
    margin-right: 40px;
    font-family: "Roboto", sans-serif;
    padding: 0.7em 1.5rem;
    background-color: white;
    border: 1px solid #fff;
    outline: none;
    border-radius: 15px;
    color: #00b439;
    cursor: pointer;

    &:hover {
      background-color: yellowgreen;
      border: none;
    }
  }
}
